@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
*{
    box-sizing: border-box;
}

.titleCon{
    margin-top: 50px;
    align-items: center;
}

.title{
    height: 80px;
    width: 400px;
}

#loading {
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgb(192,192,192);
    background-image: url("https://media.giphy.com/media/L7J1uNyOYerSuB0CQZ/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.load_title{
    margin-top: 1000em;
}

body{
    background: linear-gradient(to right,#E5DACE,#746F72);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

div{
    display: block;
}

h1{
    letter-spacing: 3px;
}

.filter_container{
    display: flex;
    flex-direction: row;
    margin: 7vh 0 5vh;
    grid-gap: 0 2vw;
    gap: 0 2vw;
}

.filter_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Graduate', cursive;
    font-size: 18px;
    font-weight: bold;
}

.filter_items>input{
    width: 10vw;
    margin-top: 5px;
}

.filter_items>input, select{
    width: 10vw;
    margin-top: 5px;
}

input{
    height: 30px;
}

select{
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    cursor: default;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 0;
    height: 30px;
}

option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0 2px 1px ;
}

.poke-container{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
    overflow: hidden;
}

#body::-webkit-scrollbar{
    display: none;
}

.pokemon{
    background: linear-gradient(white,white);
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.5);
    margin: 30px;
    padding: 15px;
    text-align: center;
}
#pokemon__card{
    background: linear-gradient(white,white);
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.5);
    margin: 30px;
    padding: 15px;
    text-align: center;
}

.pokemon:hover{
    outline: none;
    border-color: black;
    box-shadow: 0 0 15px black;
    transform: scale(1.1);
}

.pokemon .img-container{
    background-color: rgba(255,225,225, 0.6);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    text-align: center;
}

.pokemon .img-container img{
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info{
    margin-top: 20px;
}

.pokemon .info .number{
    background-color: rgba(0,0,0,0.5);
    font-family: 'Graduate', cursive;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
    color: white;
}

.pokemon .info .name{
    margin: 15px 0 7px;
    letter-spacing: 1px;
    font-size: 0.8em;
}
.tile-card{

}

.poke_card{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: hsl(0, 0%, 0%, 0.6);
    backdrop-filter: blur(5px);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.poke-card-body, #poke-card-body{
    background: red;
    color: black;
    font-family: 'Graduate', cursive;
    border-radius: 10px;
    height: 800px;
    width: 1100px;
    margin-top: 2.0em;
    margin-bottom: 2.0em;
    display: flex;
    align-items: center;
    text-align: center;
    border-color: black;
    box-shadow: 0 0 150px black;
    animation: fadeIn .25s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
    }
}

.left-side{
    background-color: hsla(0,0%,100%,.25098039215686274);
    align-items: center;
    border-radius: 1em;
    margin-left: 2em;
    margin-right: 2em;
    height: 47.5em;
    width: 32.5em;
}
.right-side{
    background-color: hsla(0,0%,100%,.25098039215686274);
    align-items: center;
    border-radius: 10px;
    margin-right: 2em;
    height: 47.5em;
    width: 62.5em;
    text-align: left;
}
.card-name{
    font-family: 'Graduate', cursive;
    font-size: 2.5em;
    text-align: center;
}

y6gulohg.card-title {
    font-family: 'Graduate', cursive;
    font-size: 2em;
    text-align: center;
}

.card-img{
    width: 300px;
    height: 300px;
    align-items: center;
    padding-bottom: 20px;
}

.card-img:hover{
    animation: bounce .5s linear;
}

@keyframes bounce {
    20%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(4px);
    } 
    60%{
        transform: translateX(-6px);
    }
    80%{
        transform: translateX(-4px);
    }
}

.num{
    align-items: center;
    padding-top: 20px;
}
.tile-card:hover{
    cursor: pointer;
}
.section-header{
    font-size: 24px;
    margin-left: 20px;
}
.ability-container, .bs-container, .enrty-container {
    margin-left: 30px;
    margin-right: 20px;
    background: hsl(0,0%,100%,0.5);
    border-radius: 10px;
}

.enrty-container{
    width: 40em;
    height: 90px;
    padding: 10px;
}

.ability-container{
    width: 40em;
    height: 50px;
    padding: 15px;
}

.ability-info{
    margin: auto;
}

.bs-container{
    width: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 0 15px;
    gap: 0 40px;
    align-items: center;
    padding: 10px;
    border-radius: 1rem;
    height: 150px;
    align-content: space-evenly;
    text-align: center;
}

.stat-name, .stat-val{
    text-align: center;
    padding-left: 50px;
}

.stat-name{
    text-transform: uppercase;
    color: red;
    font-family: 'Press Start 2P', cursive;
}
.stat-columns{
    width: 135px;
    margin-right: 0;
}
.stat-val{
    padding-top: 5px;
}
.stat-name{
    font-size: 12px;
}

/*
@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 700px) {

}

@media onliy screen and (max-width: 470px) {

}
*/